*.class

# Netbeans files
nbproject/
build.xml

#client secrets for google
client_secrets.json

# settings
.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Manifest and jar signature
keystore.*
manifest.*

# releases
releases

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin
/nbproject/private/
/build/
/dist/
