#root {
    -fx-background-color:  linear-gradient(lightgray, gray);
    -fx-border-color: white;
    -fx-border-radius: 20.0;
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-background-radius: 20.0;

}

#bp {
    -fx-background-color:  linear-gradient(gray,DimGrey ); 
}

#infolabl {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#message {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: orangered;
}

.button {
    -fx-text-fill: lightgrey;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61ffb1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}

.button:pressed {
    -fx-background-color: linear-gradient(#2A5058, #61ffb1);
}

.button:hover {
    -fx-text-fill: white;
}

#text {
    -fx-fill:  linear-gradient(lightgreen, darkgreen);
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
